<% set_meta_tags title: "新規登録" %>
<div class="row">
  <div class="col-md-6  col-md-offset-3">
    <h2>新規登録</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form--common"}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :username, class: "f-control" %>
        <%= f.text_field :username, autofocus: true, autocomplete: "username"%>
        <div class="form__underline"></div>
      </div>
      <div class="field">
        <%= f.label :email, class: "f-control" %>
        <%= f.email_field :email, autocomplete: "email" %>
        <div class="form__underline"></div>
      </div>
      <div class="field">
        <%= f.label :password, class: "f-control" %>
        <%= f.password_field :password, autocomplete: "new-password" %>
        <div class="form__underline"></div>
        <p class="form__message">
          <% if @minimum_password_length %>
            <%= @minimum_password_length %>文字以上で設定してください
          <% end %>
        </p>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, class: "f-control" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        <div class="form__underline"></div>
      </div>
      <div class="actions">
        <%= f.submit "新規登録" %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
