<div class="field">
  <%= f.label :title, "作品タイトル", class: "f-control" %>
  <%= f.text_field :title %>
  <div class="form__underline"></div>
</div>

<div class="field">
  <%= f.label :category_id, "作品カテゴリー", class: "f-control" %>
  <div class="field--category">
    <div class="category__parent category__select">
      <%= select_tag "parent_category_id", options_from_collection_for_select(@category_parent_array, :id, :name), include_blank: "メインカテゴリー(必須)", class:"select_field" %>
    </div>
    <div class="category__child category__select" id="children_wrapper">
      <%= f.select :category_id, [], { include_blank: "サブカテゴリー(必須)" }, { class:"select_field" } %>
    </div>
  </div>
</div>

<div class="field">
  <strong>作品メイン画像</strong>
  <%= f.label :image, class: 'image_label f-control' do %>
    <div class="prev-contents">
      <div class="prev-content">
        <%= image_tag(Settings.default_image[:work], alt: "preview", class: "prev-work") %>
        <%= f.file_field :image, class: 'hidden_work hidden__field image__field', accept: "image/jpeg,image/gif,image/png" %>
      </div>
    </div>
  <% end %>
</div>

<div class="field">
  <div class='label--wrapper'>
    <%= f.label :concept, "コンセプト", class: "f-control" %>
    <div class='width40 display_flex'>
      <%= check_box_tag :pending, true, false, class: 'checkbox__work_concept' %>
      <span>コンセプト未定</span>
    </div>
  </div>
  <%= f.text_area :concept %>
  <div class="form__underline"></div>
</div>

<div class="field">
  <%= f.label :description, "作品説明", class: "f-control" %>
  <%= f.text_area :description %>
  <div class="form__underline"></div>
</div>

<%# TODO: 下記のname属性の指定方法だと illustraion.nameを適切に設定できない %>
<%#       配列を適切に設定する方法があるはず %>

<% count = 1 %>
<% 5.times do %>
    <div class="illustration--package">
      <h4 class="illustration__label">サブ画像<%= count %>&nbsp;&nbsp;<span>(任意)</span></h4>

      <div class="field sub_field sub_field__name">
        <%= f.label 'illustrations[][name]', class: "f-control label__invisible" %>
        <%= f.text_field 'illustrations[][name]', placeholder: "サブ画像#{count + 1}の名前" %>
        <div class="form__underline"></div>
      </div>

      <div class="illustration--box">
        <div class="field sub_field sub_field__photo">
          <%= f.label 'illustrations[][photo]', class: 'image_label f-control' do %>
            <div class="prev-contents">
              <div class="prev-content">
                <%= image_tag(Settings.default_image[:work], alt: "preview", class: "prev-#{count}") %>
                <%= f.file_field 'illustrations[][photo]', class: "hidden_photo#{count} hidden__field image__field", accept: "image/jpeg,image/gif,image/png" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="field sub_field sub_field__description">
          <%= f.label 'illustrations[][description]', class: "f-control label__invisible" %>
          <%= f.text_area 'illustrations[][description]', placeholder: "サブ画像#{count + 1}の説明..." %>
          <div class="form__underline"></div>
        </div>
      </div>
    </div>
  <% count += 1 %>
<% end %>
