<li id="work-<%= work.id %>">
  <div class="works_user">
    <span class="avatar">
      <%= link_to work.user do %>
        <%= image_tag(work.user.avatar, width: "50px") %>
      <% end %>
    </span>
    <span class="user"><%= link_to work.user.username, work.user %></span>
  </div>
  <div class="works_detail">
    <%= link_to work_path(work) do %>
      <span class="image"><%= image_tag(work.image, width: "200px") %></span>
      <span class="title"><%= work.title %></span>
      <span class="concept"><%= work.concept %></span>
      <span class="timestamp">
        <%= time_ago_in_words(work.created_at) %>
      </span>
    <% end %>
  </div>
</li>
