<% set_meta_tags title: "#{@work.title}" %>
<div class="row">
  <aside class="col-md-3">
    <section class="user--info__aside">
      <%= render "shared/user_info", user: @user %>
    </section>
    <section class="user--sub-info__aside">
      <%= render "shared/user_sub_info", user: @user %>
    </section>
    <section class="work--assessment__aside">
      <div id="likes_button-<%= @work.id %>">
        <%= render "likes/like", work: @work, liked: @liked %>
      </div>
      <div class="work__comment">
        <%= render "shared/comment_count", work: @work %>
      </div>
      <div>閲覧数</div>
      <div class="timestamp">
        <%= time_ago_in_words(@work.created_at) %>前
      </div>
    </section>
    <section>
      <div class="work--comment__aside">
        <%= render "shared/comment_form", work: @work, comment: @comment %>
      </div>
      <% if @comments.present? %>
        <div class="comment--info__aside">
          <ol class="comments">
            <%= render @comments %>
          </ol>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-9">
    <section class="work_info">
      <h3><%= @work.title %></h3>
      <%= image_tag @work.image, alt: "メイン写真", class: "image", width: "150px" %>
      <h4><%= @work.concept %></h4>
      <p><%= @work.description %></p>
    </section>
    <section class="work_sub_info">
      <% if @illustrations.present? %>
        <ol class="illustrations">
          <%= render @illustrations %>
        </ol>
      <% end %>
    </section>
    <span class="edit_btn">
      <% if current_user?(@user) %>
        <%= link_to "編集する", edit_work_path(@work) %>
        <%= link_to "削除する", work_path(@work), method: :delete, data: { confirm: "削除してよろしいですか？" } %>
      <% end %>
    </span>
  </div>
</div>
