<% set_meta_tags title: "#{@work.title}" %>
<div class="row">
  <aside class="col-md-3">
    <section class="user--info__aside">
      <%= render "shared/user_info", user: @work.user %>
    </section>
    <section class="user--sub-info__aside">
      <%= render "shared/user_sub_info", user: @work.user %>
    </section>
    <section class="work--assessment__aside">
      <div class="assessment__by_user">
        <div id="likes_button-<%= @work.id %>">
          <%= render "likes/like", work: @work, liked: @liked %>
        </div>
        <div class="work__comment">
          <%= render "shared/comment_count", work: @work %>
        </div>
        <div class="work__footprints">
          <i class="far fa-eye"></i><%= @work.total_footprints_count %>
        </div>
        <div class="timestamp">
          <%= time_ago_in_words(@work.created_at) %>前
        </div>
      </div>
      <div class="work__category">
        <ul class="category_names">
          <% @work.category.path.each do |category| %>
            <li class="category_name"><%= category.name %></li>
          <% end %>
        </ul>
      </div>
    </section>
    <section class="comments_to_work__aside">
      <div class="work--comment__aside">
        <%= render "shared/comment_form", work: @work, comment: @comment %>
      </div>
      <% if @work.comments.present? %>
        <div class="comment--info__aside">
          <ol class="comments">
            <%= render @work.comments %>
          </ol>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-9">
    <div class="work--all__information">
      <section class="work--main_info">
        <div class="work__title">
          <h3><%= @work.title %></h3>
        </div>
        <div class="work__concept">
          <p><%= @work.concept %></p>
        </div>
        <div class="work__image">
          <%= image_tag @work.display_image_square(main:true) %>
        </div>
        <div class="work__description">
          <p><%= @work.description %></p>
        </div>
      </section>
      <% if @work.illustrations.present? %>
        <section class="work--sub_info">
          <ol class="illustrations">
            <%= render @work.illustrations %>
          </ol>
        </section>
      <% end %>
    </div>
    <section class="comments_to_work_bottom">
      <div class="work--comment__aside">
        <%= render "shared/comment_form", work: @work, comment: @comment %>
      </div>
      <% if @work.comments.present? %>
        <div class="comment--info__aside">
          <ol class="comments">
            <%= render @work.comments %>
          </ol>
        </div>
      <% end %>
    </section>
    <% if current_user?(@work.user) %>
    <div class="work--settings">
      <span class="delete_btn field__negative">
        <%= link_to "削除する", work_path(@work), method: :delete, data: { confirm: "削除してよろしいですか？" } %>
      </span>
    </div>
    <% end %>
  </div>
</div>

<!-- Modal -->
  <div id="liked_users" class="modal modal--js">
    <div class="modal__bg modal--js__close"></div>
    <div class="modal--content">
      <div class="modal--content__inner">
        <%= render "likes/liked_users", work: @work %>
        <a class="modal--js__close modal__close" href="">
          <span><i class="far fa-times-circle close__btn"></i></span>
        </a>
      </div>
    </div>
  </div>
<script type="text/javascript">
  $( '.modal--js__open' ).each( function() {
      $( this ).on( 'click', function() {
            var target = $( this ).data( 'target' );
            var modal = document.getElementById( target );
            $( modal ).fadeIn( 300 );
            return false;
      });
  });
  $( '.modal--js__close' ).on( 'click', function() {
      $( '.modal--js' ).fadeOut( 300 );
      return false;
  });
</script>