<% set_meta_tags title: "#{@work.title}" %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= link_to @user do %>
        <%= display_avatar_for @user %>
        <h1 class="username">
          <%= @user.username %>
        </h1>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <section class="work_info">
      <h3><%= @work.title %></h3>
      <%= image_tag @work.image, alt: "メイン写真", class: "image", width: "150px" %>
      <h4><%= @work.concept %></h4>
      <p><%= @work.description %></p>
    </section>
    <section class="work_sub_info">
      <% if @illustrations.present? %>
        <ol class="illustrations">
          <%= render @illustrations %>
        </ol>
      <% end %>
    </section>
    <span class="edit_btn">
      <% if current_user?(@user) %>
        <%= link_to "編集する", edit_work_path(@work) %>
        <%= link_to "削除する", work_path(@work), method: :delete, data: { confirm: "削除してよろしいですか？" } %>
      <% end %>
    </span>
  </div>
</div>
