<% set_meta_tags title: "#{@work.title}" %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <%= link_to @user do %>
        <%= display_avatar_for @user %>
        <h1 class="username">
          <%= @user.username %>
        </h1>
      <% end %>
    </section>
    <section>
      <h2>コメントをする</h2>
      <%= form_with(model:@comment, url: comments_path, html: { method: :post, class: "form--comment"}, local: true) do |f| %>
        <% if @comment_errors.present? %>
          <%= @comment_errors.count %>
        <% end %>
        <%= f.text_area :content %>
        <%= f.hidden_field :work_id, value: @work.id %>
        <%= f.submit 'コメントする' %>
      <% end %>
    </section>
    <section class="comment_info">
      <% if @comments.present? %>
        <ol class="comments">
          <%= render @comments %>
        </ol>
      <% end %>
    </section>
    <section class="comment_info">
      <h2>イイねの数</h2>
      <%= @work.likes.count %>
      <% if current_user.already_liked?(@work) %>
        <%= button_to 'いいねを取り消す', work_like_path(@work), method: :delete %>
      <% else %>
        <%= button_to 'いいね', work_likes_path(@work) %>
    <% end %>
    </section>
  </aside>
  <div class="col-md-9">
    <section class="work_info">
      <h3><%= @work.title %></h3>
      <%= image_tag @work.image, alt: "メイン写真", class: "image", width: "150px" %>
      <h4><%= @work.concept %></h4>
      <p><%= @work.description %></p>
    </section>
    <section class="work_sub_info">
      <% if @illustrations.present? %>
        <ol class="illustrations">
          <%= render @illustrations %>
        </ol>
      <% end %>
    </section>
    <span class="edit_btn">
      <% if current_user?(@user) %>
        <%= link_to "編集する", edit_work_path(@work) %>
        <%= link_to "削除する", work_path(@work), method: :delete, data: { confirm: "削除してよろしいですか？" } %>
      <% end %>
    </span>
  </div>
</div>
