<ul class="user--works__types">
  <li>
    <%= form_tag(url_for(action: 'my_works'), remote: true) do %>
      <span class="btn__my_works"><%= submit_tag "作品一覧" %></span>
    <% end %>
  </li>
  <li>
    <%= form_tag(url_for(action: 'favorites'), remote: true) do %>
      <span class="btn__liked_works user--works__now"><strong><%= submit_tag "お気に入り" %></strong></span>
    <% end %>
  </li>
</ul>
<div class="user--works__favorites">
  <% if @user.likes.present? %>
    <ol class="works">
      <% @user.likes.each do |like| %>
        <%= render like.work %>
      <% end %>
    </ol>
  <% else %>
    <h4>いいねした作品がありません</h4>
  <% end %>
</div>
