<ul class="user--works__types">
  <li>
    <%= form_tag(url_for(action: 'get_works'), remote: true, method: :get) do %>
      <%= submit_tag "作品一覧", class: "btn__works user--works__now" %>
    <% end %>
  </li>
  <li>
    <%= form_tag(url_for(action: 'get_works_liked'), remote: true, method: :get) do %>
      <%= submit_tag "お気に入り", class: "btn__works" %>
    <% end %>
  </li>
  <li>
    <%= form_tag(url_for(action: 'get_works_stocked'), remote: true, method: :get) do %>
      <%= submit_tag "保存した作品", class: "btn__works" %>
    <% end %>
  </li>
</ul>

<div class="user--works__own" >
  <% if @works.present? %>
    <ol class="works">
      <%= render @works %>
    </ol>
    <%= paginate @works %>
  <% elsif current_user?(@user) %>
    <h4>自分の作品を記録しよう！</h4>
  <% else %>
    <h4>作品の登録がまだありません</h4>
  <% end %>
</div>