<% set_meta_tags title: "#{@user.username}" %>
<div class="row">
  <div class="col-md-offset-2 col-md-8">

    <section class="user--info">
      <div class="user__main">
        <%= display_avatar_for @user, size: Settings.avatar_size[:in_profile] %>
        <h1 class="username"><%= @user.username %></h1>
      </div>

      <div class="user__detail">
        <div class="user__relation">
          <%= render "shared/stats", user: @user %>
          <%= render 'follow_form' if user_signed_in? %>
          <% if current_user?(@user) %>
            <span class="btn__current_user">
              <%= link_to '編集する', edit_user_registration_path, class: "btn__edit" %>
              <%= link_to new_work_path, class: "btn__create" do %>
                新規作品<i class="fas fa-plus"></i>
              <% end %>
            </span>
          <% end %>
        </div>
        <ul class="user__profile">
          <li class="website"><%= text_url_to_link(h(@user.website)).html_safe %></li>
          <li class="description"><%= @user.description %></li>
        </ul>
      </div>
    </section>

    <section class="user--works">
      <ul class="user--works__types">
        <li class='user--works_owned'>
          <%= form_tag(url_for(action: 'get_works_owned'), remote: true, method: :get) do %>
            <%= submit_tag "作品一覧", class: "btn__works user--works__now" %>
          <% end %>
        </li>
        <li class='user--works_liked'>
          <%= form_tag(url_for(action: 'get_works_liked'), remote: true, method: :get) do %>
            <%= submit_tag "お気に入り", class: "btn__works" %>
          <% end %>
        </li>
        <li class='user--works_stocked'>
          <%= form_tag(url_for(action: 'get_works_stocked'), remote: true, method: :get) do %>
            <%= submit_tag "保存した作品", class: "btn__works" %>
          <% end %>
        </li>
      </ul>

      <span id='js-user--works'>
        <%= render "works_owned" %>
      </span>
    </section>
  </div>
</div>
