<% set_meta_tags title: "#{@user.username}" %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= image_tag @user.avatar, alt: "プロフィール写真", class: "avatar", width: "150px" %>
      <h1 class="username">
        <%= @user.username %>
      </h1>
      <%= render "shared/stats" %>
      <ul>
        <li class="website"><%= text_url_to_link(h(@user.website)).html_safe %></li>
        <li class="description"><%= @user.description %></li>
      </ul>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if user_signed_in? %>
    <section class="user_works">
      <h3>ワークス<%= "(#{@user.works.count})" if @user.works.present? %></h3>
      <% if @user.works.present? %>
        <ol class="works">
          <%= render @works %>
        </ol>
        <%= paginate @works %>
      <% else %>
        <h4>自分の作品を記録しよう！</h4>
      <% end %>
    </section>
  </div>
</div>
