<% set_meta_tags title: "パスワード再設定メールの送信" %>
<div class="row">
  <div class="col-md-6  col-md-offset-3">
    <h2>パスワード再設定メールの送信</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form--common" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        <%= f.label :email, class: "f-control" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        <div class="form__underline"></div>
      </div>
      <div class="actions">
        <%= f.submit "再設定メールを送信する" %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>

