<%= form_with(model: @work, local: true) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, autofocus: true, class: "f-control" %>
  </div>
  <div class="field">
    <%= f.label :concept %><br>
    <%= f.text_area :concept, placeholder: "コンセプト文章を300文字以内で入力...", class: "f-control" %>
  </div>
  <div class="actions">
    <%= f.submit "投稿する" %>
  </div>
<% end %>