<p>※このメールは自動送信メールです。</p>

<p><%= @user.username %> 様</p>

<p>「<%= ENV['APP_NAME'] %>」事務局でございます。<br>

<p>あなたのアカウントのパスワードの変更がリクエストされました。 <br>
以下のリンクからパスワードの変更を行うことができます。</p>

<p><%= link_to 'パスワードを変更する', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>あなたがパスワードの変更をリクエストしなかった場合には、このメールを無視してください。<br>
上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>

<p>※このメールは送信専用になります。返信されてもメッセージは届きませんので、ご了承ください。</p><br>

<p>――――――――――――――――――――――――――――――<br>
App ： <%= ENV['APP_NAME'] %><br>
URL ： <%= ENV['HOST'] %><br>
――――――――――――――――――――――――――――――</p>
