<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags(base_meta_tags) %>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'layouts/flash' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <%= render 'layouts/js_default' %>
  </body>
</html>
